.container {
  background: url("../images/photo1.jpg");
  background-position: center center;
  /* background-size: cover; */
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.content {
  text-align: center;
  margin-top: 20%;
}
p {
  color: tomato;
  font-size: 1.7rem;
  font-weight: 200;
}
.link {
  position: relative;
  color: #fff;
  font-weight: 300;
  margin-left: 20px;
  background-color: #01aacd;
  border-radius: 2px;
}
